.navbar{
 background-color:pink;
 padding: 20px; 
 display:flex;  
 justify-content: space-between;
 border-radius: 50px;
}
.mylistitems{
 list-style: none;   
}
a{
  text-decoration: none;   
}
.mynavlist{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.mylogo{
    height: 100PX;
    width: auto;
}
.mylogo img{
    height: 100%;
    width: auto;
}
/* .mylogo{height: 90%;width: auto;} */
.secondsection{display: flex;margin-top: 40px;gap: 40px;max-width: 105px;justify-content: space-between;}
.h4{
    color: aqua;
}


