.navbar{
 background-color:pink;
 padding: 20px; 
 display:flex;  
 justify-content: space-between;
 border-radius: 50px;
}
.mylistitems{
 list-style: none;   
}
a{
  text-decoration: none;   
}
.mynavlist{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.mylogo{
    height: 100PX;
    width: auto;
}
.mylogo img{
    height: 100%;
    width: auto;
}
/* .mylogo{height: 90%;width: auto;} */
.h4,h3{color: hotpink;}
#thirdsection{display: flex;justify-content: space-between;padding: 30px;}
































